/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e7e7e7;
    color: #333;
    min-height: 100vh;
}

/* Estilo del header */
header {
    background-color: #333;
    width: 100%;
    padding: 13px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.33s;
}

nav ul li a:hover {
    color: #f7ca18;
    transition: 0.33s;
}

/* Contenedor principal */
.contenedor-principal {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

/* Contenedor del perfil */
.perfil-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 20%;
    min-width: 300px; /* Mantiene un ancho máximo */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex: 0 1 400px; /* Elimina el ancho fijo y permite que ocupe menos espacio */
}

/* Estilo de la imagen de perfil */
.imagen-perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #f7ca18;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Estilo del nombre del usuario */
.info-perfil h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo de la descripción del usuario */
.info-perfil p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Estilo de la sección de datos del perfil */
.datos-perfil {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    min-width: 300px; /* Mantiene un ancho máximo */
    margin: 20px;
}
/* Pie de página */
footer {
    position: absolute;
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: white;
    margin-top: 17.6%;
}


