/* Contenedor principal */
.contenedor-principal {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

/* Contenedor del perfil */
.perfil-contenedor {
    background-color: var(--color-bg); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 18px 0px var(--color-shadows); 
    width: 20%;
    min-width: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex: 0 1 400px; /
}

/* Estilo de la imagen de perfil */
.imagen-perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--color-tarea-border); 
    object-fit: cover;
    margin-bottom: 20px;
}

/* Estilo del nombre del usuario */
.info-perfil h1 {
    font-size: 24px;
    color: var(--color-text); 
    margin-bottom: 10px;
}

/* Estilo de la descripción del usuario */
.info-perfil p {
    font-size: 16px;
    color: var(--color-light-gray); 
    line-height: 1.5;
    margin-bottom: 20px;
}

.info-perfil h5{
    font-weight: lighter;
}

/* Estilo de la sección de datos del perfil */
.datos-perfil {
    background-color: var(--color-bg); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 18px 0px var(--color-shadows); 
    width: 80%;
    min-width: 300px; 
    margin: 20px;
}

.formulario-perfil {
    background-color: var(--color-bg); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 18px 0px var(--color-shadows); 
    width: 80%;
    min-width: 300px; 
    margin: 20px;
    display: none;
}

button{
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: var(--color-btn-bg);
    color: var(--color-nav-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
}