/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Ocultar barra de scroll*/
::-webkit-scrollbar {
    display: none;
    /*scroll-behavior: smooth;*/
}

/* Definición de la paleta de colores en root */
:root {
    --color-white: white;
    --color-black: #333;
    --color-light-gray: #555;
    --color-yellow: #f7ca18;
    --color-bg-gray: #f4f4f9;
    --color-absolute-black:black;
    
    --color-bg: var(--color-white);
    --color-text: var(--color-black);
    --color-nav-bg: var(--color-black);
    --color-nav-text: var(--color-white);
    --color-nav-hover: var(--color-yellow);
    --color-btn-bg: var(--color-black);
    --color-btn-hover: var(--color-light-gray);
    --color-tarea-bg: var(--color-bg-gray);
    --color-tarea-border: var(--color-yellow);
    --color-slider-btn-bg: var(--color-absolute-black); 
    --color-slider-dot: var(--color-light-gray);
    --color-slider-dot-active: var(--color-yellow);
}

/* Estilo para el cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima igual a la altura del viewport */
}

/* Barra de navegación */
header {
    background-color: var(--color-nav-bg);
    padding: 10px 0;
    height: 50px;
}

.menu-cabezero {
    list-style: none;
    text-align: center;
    display: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--color-nav-text);
    text-decoration: none;
    font-size: 18px;
    transition: 0.33s;
}

nav ul li a:hover {
    color: var(--color-nav-hover);
    transition: 0.33s;
}

.btn-cabezero {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line {
    background-color: var(--color-nav-text);
    height: 3px;
    width: 30px;
    position: absolute;
    transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
}

.btn-cabezero:hover > .line {
    transition: 0.33s;
    background-color: var(--color-nav-hover);
}

.line-1 {
    top: 12px;
}

.line-2 {
    top: 22px;
}

.line-3 {
    top: 32px;
}

.hide {
    opacity: 0;
}

.rotate-45 {
    transform: rotate(45deg);
    top: 22px;
    transition: transform 0.3s ease, top 0.3s ease;
}

.rotate--45 {
    transform: rotate(-45deg);
    top: 22px;
    transition: transform 0.3s ease, top 0.3s ease;
}

/* Contenido principal para llenar el espacio */
main {
    flex: 1;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: var(--color-nav-bg);
    color: var(--color-nav-text);
}
