* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --color-white: white;
    --color-black: #333;
    --color-light-gray: #555;
    --color-purple: rgba(134,158,255,1);
    --color-bg-gray: #f4f4f9;
    --color-absolute-black:black;
    --color-shadow: rgba(134,158,255,0.9);
    
    --color-bg: var(--color-white);
    --color-text: var(--color-black);
    --color-nav-bg: var(--color-black);
    --color-nav-text: var(--color-white);
    --color-nav-hover: var(--color-purple);
    --color-btn-bg: var(--color-black);
    --color-btn-hover: var(--color-light-gray);
    --color-tarea-bg: var(--color-bg-gray);
    --color-tarea-border: var(--color-purple);
    --color-slider-btn-bg: var(--color-absolute-black); 
    --color-slider-dot: var(--color-light-gray);
    --color-slider-dot-active: var(--color-purple);
    --color-shadows:var(--color-shadow);
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    background-color: var(--color-nav-bg);
    padding: 10px 0;
    height: 50px;
}

.menu-cabecero {
    list-style: none;
    text-align: center;
    display: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--color-nav-text);
    text-decoration: none;
    font-size: 18px;
    transition: 0.33s;
}

nav ul li a:hover {
    color: var(--color-nav-hover);
    transition: 0.33s;
}

.btn-cabecero {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line {
    background-color: var(--color-nav-text);
    height: 3px;
    width: 30px;
    position: absolute;
    transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
}

.btn-cabezero:hover > .line {
    transition: 0.33s;
    background-color: var(--color-nav-hover);
}

.line-1 {
    top: 12px;
}

.line-2 {
    top: 22px;
}

.line-3 {
    top: 32px;
}

.hide {
    opacity: 0;
}

.rotate-45 {
    transform: rotate(45deg);
    top: 22px;
    transition: transform 0.3s ease, top 0.3s ease;
}

.rotate--45 {
    transform: rotate(-45deg);
    top: 22px;
    transition: transform 0.3s ease, top 0.3s ease;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--color-nav-bg);
    color: var(--color-nav-text);
}

.input-container {
    position: relative;
    width: 100%;
    --border-before-color: var(--color-text);
    --border-after-color: var(--color-nav-hover);
}

input[type="text"],
input[type="date"],
textarea,
select {
    background-color: transparent;
    width: 100%;
    padding: 0.5em 0.5em;
    border: none;
    border-bottom: 1px solid var(--border-before-color);
    font-size: 1rem;
    color: var(--color-text);
    box-sizing: border-box;
}

textarea {
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    resize: none;
    padding: 0.5em;
    border: 1px solid var(--color-text);
    border-radius: 4px;
    background-color: var(--color-tarea-bg);
    color: var(--color-text);
    font-size: 1rem;
    box-sizing: border-box;
}

.input-border {
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--border-after-color);
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
    outline: none;
}

input[type="text"]:focus ~ .input-border,
input[type="date"]:focus ~ .input-border,
textarea:focus ~ .input-border,
select:focus ~ .input-border {
    width: 100%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><polygon points='0,0 20,0 10,10' fill='%23{border-before-color}'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 0.65em;
    padding-right: 1.5em;
}

button {
    background-color: var(--color-btn-bg);
    color: var(--color-nav-text);
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: 0.20s;
    border-radius: 5px;
}

button:hover {
    background-color: var(--color-btn-hover);
    transition: 0.33s;
}

.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--dark);
    background-color: var(--light);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--dark);
  }
  
