main{
    display: flex;
    justify-content: space-between;
}
.salas{
    width: 30%;
    margin: 20px;
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0px 2px 18px 0px var(--color-purple); 
    height: 600px;
}

.cont-salas{
    height: 490px;
    overflow: scroll;
}

ul{
    list-style: none;
}

.sala{
    background-color: var(--color-bg-gray);
    padding: 15px;
    margin-bottom: 12.5px;
    margin-top: 12.5px;
    border-left: 5px solid var(--color-purple);
    border-radius: 5px;
}

.salas-select{
    width: 70%;
    margin: 20px;
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0px 2px 18px 0px var(--color-purple);
    height: 600px;
}

.menu-crear-sala{
    padding: 20px;
    display: none;
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0px 2px 18px 0px var(--color-purple); 
    width: 600px;
    max-height: 500px;
    overflow: scroll;
}

.cabecero-sala {
    text-transform: capitalize;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.iconos-cabecero-sala {
    display: flex; 
    gap: 20px;
    margin-right: 120px;
}

.cabecero-sala > .iconos-cabecero-sala > img {
    max-height: 30px;
    transition: 0.15s;
}

.cabecero-sala > .iconos-cabecero-sala > img:hover {
    max-height: 30px;
    transition: 0.15s;
    margin-top: -5px;
}

.sugerencias-amigos {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: white;
    width: calc(100% - 20px);
    display: none;
}

.sugerencias-amigos div {
    padding: 8px;
    cursor: pointer;
}

.sugerencias-amigos div:hover {
    background-color: #f0f0f0;
}

.cerrar-ventana{
    float: right;
    height: 25px;
    cursor: pointer;
}