.tareas, .tareas-crear {
    padding: 20px;
    background-color: var(--color-bg);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 18px 0px var(--color-shadows);
}

.tareas {
    display: block;
}

.tareas-crear {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tareas h2, .tareas-crear h2 {
    text-align: center;
    margin-bottom: 20px;
}

.tareas h3, .tareas-crear h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.tareas ul {
    list-style: none;
    padding: 0;
}

.tareas .tarea {
    background-color: var(--color-tarea-bg);
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid var(--color-tarea-border);
    border-radius: 5px;
}

.tareas .tarea p {
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    background-color: var(--color-btn-bg);
    color: var(--color-nav-text);
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: 0.20s;
    border-radius: 5px;
}

button:hover {
    background-color: var(--color-btn-hover);
    transition: 0.33s;
}
