/* css/estilos.css */
.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    padding: 20px;
    opacity: 0; /* Oculto al inicio para animación */
    transform: scale(0.8); /* Escala inicial para animación */
}

.cont h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.cont p {
    font-size: 1.1em;
    color: #666;
    text-align: center;
    max-width: 600px;
    margin-bottom: 20px;
}

.cont .table-info {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
}

.cont .table-info th, .cont .table-info td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.btn-login, .btn-registro {
    margin: 10px;
}

.btn-comenzar {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}





/* Sección de bienvenida */
.bienvenida {
    text-align: center;
    background-color: var(--color-nav-hover);
    color: var(--color-text);
    padding: 30px;
}

.bienvenida h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.bienvenida p {
    font-size: 18px;
    margin-bottom: 30px;
}

.bienvenida .btn-comenzar {
    background-color: var(--color-btn-bg);
    color: var(--color-nav-text);
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.33s;
    border-radius: 5px;
}

.bienvenida .btn-comenzar:hover {
    background-color: var(--color-btn-hover);
    transition: 0.25s;
}

.informacion {
    margin-top: 20px !important;
    width: 100%;
    margin: auto;
    position: relative;
}
.informacion > div{
    z-index: 10;
}

/* Sección de tareas */
.tareas, .salas, .companero {
    width: 66.66666% !important;
    margin-left: 16.5%;
    padding: 20px;
    background-color: var(--color-bg);
    border-radius: 20px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    overflow: scroll;
    max-height: 500px;
}

.tareas h2, .salas h2, .companero h2 {
    text-align: center;
    margin-bottom: 20px;
}

.tareas ul, .salas ul, .companero ul {
    list-style: none;
    padding: 0;
}

.tarea {
    background-color: var(--color-tarea-bg);
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid var(--color-tarea-border);
    border-radius: 5px;
}

.tarea h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.tarea p {
    font-size: 16px;
    margin-bottom: 10px;
}

.btn-completar {
    background-color: var(--color-btn-bg);
    color: var(--color-nav-text);
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: 0.20s;
    border-radius: 5px;
}

.btn-completar:hover {
    background-color: var(--color-btn-hover);
    transition: 0.33s;
}

.companero img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--color-tarea-border);
    margin-top: 10px;
}

/* Slider (Slick) */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 200px;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 50px !important;
    padding-top: 50px !important;
}

.slick-list:focus {
    outline: none;
}

.slick-track {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    transition: transform 0.3s ease;
}

/* Resaltar el slide del centro */
.slick-center {
    transform: scale(1.1); 
    z-index: 1; 
}

/* Opcional: Reduce el tamaño de los slides laterales */
.slick-slide:not(.slick-center) {
    opacity: 0.5; 
}
/*
.slick-slide.slick-center + .slick-slide {
    margin-left: -400px; 
}
*/
.slick-prev, .slick-next {
    display: none;
    font-size: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-slider-btn-bg);
    color: var(--color-nav-text);
    border: none;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slick-initialized .slick-slide {
    display: block;
}

/* Paginación del slider */
.slick-dots {
    z-index: 50;
    width: 100%;
    margin-top: -30px !important;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 5px;
    z-index: 30;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-slider-dot);
    border: none;
    cursor: pointer;
    font-size: 0px;
}

.slick-dots li.slick-active button {
    background-color: var(--color-slider-dot-active);
    transition: 0.3s;
}

.slick-prev:hover, .slick-next:hover {
    background-color: var(--color-slider-btn-bg);
}

.slick-prev {
    display: none;
    left: -45px;
}

.slick-next {
    display: none;
    right: -45px;
}

.calificaciones{
    width: 80% !important;
    margin-left: 10%;
    padding: 20px;
    background-color: var(--color-bg);
    border-radius: 20px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    overflow: scroll;
    min-height: 500px;
    margin-bottom: 20px;
}

.calificaciones h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}