.contenedor-principal {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.cont-btn-notificacion{
  width: 100%;
}

.btn-notificacion {
  float: right;
  height: 35px;
  transition: transform 0.33s;
}

.btn-notificacion:hover {
  transform: translateY(-5px);
}

.perfil-contenedor, .formulario-perfil, .cont-asignaturas {
    background-color: var(--color-white); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 18px 0px var(--color-purple); 
    width: 20%;
    min-width: 300px; 
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex: 0 1 400px; 
    max-height: 550px;
}

.perfil-contenedor{
    display: flex;
    overflow: scroll;
}

.formulario-perfil, .cont-asignaturas{
    display: none;
    overflow: scroll;
}

.imagen-perfil .img-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid var(--color-purple); 
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: -10px;
}

.info-perfil h1 {
    font-size: 24px;
    color: var(--color-black); 
    margin-bottom: 10px;
}

.info-perfil p {
    font-size: 16px;
    color: var(--color-black); 
    line-height: 1.5;
    margin-bottom: 20px;
}

.info-perfil h5{
    font-weight: lighter;
}

.datos-perfil, .cont-notificaciones{
    background-color: var(--color-white); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 18px 0px var(--color-purple); 
    width: 80%;
    min-width: 300px; 
    margin: 20px;
    height: 550px;
    overflow-y: scroll;
}

.datos-perfil{
    display: flex;
    justify-content: space-between;
}

.datos-notas, .datos-estadisticas{
    margin: 10px;
    overflow: scroll;
}

.datos-notas{
    width: 100%;
}

.datos-estadisticas{
    width: 60%;
}
.cont-notificaciones{
    display: none;
}

ul{
    list-style: none;
}

.asignatura{
    background-color: var(--color-bg-gray);
    padding: 15px;
    margin-bottom: 12.5px;
    margin-top: 12.5px;
    border-left: 5px solid var(--color-purple);
    border-radius: 5px;
}
  
.nota-container {
    margin-bottom: 15px;
}

.nota-label {
    font-size: 16px;
    margin-bottom: 5px;
}

.progress-bar-wrapper {
    width: 100%;
    border-radius: 7.5px;
    overflow: hidden;
    height: 25px;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: var(--color-purple);
    width: 0;
    transition: width 0.5s ease;
}

.progress-value {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
}

.notificacion{
    background-color: var(--color-bg-gray);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}