/* Contenedor principal */
.contenedor-principal {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

/* Contenedor del perfil */
.perfil-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    width: 20%;
    min-width: 300px; /* Mantiene un ancho máximo */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex: 0 1 400px; /* Elimina el ancho fijo y permite que ocupe menos espacio */
}

/* Estilo de la imagen de perfil */
.imagen-perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #f7ca18;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Estilo del nombre del usuario */
.info-perfil h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo de la descripción del usuario */
.info-perfil p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Estilo de la sección de datos del perfil */
.datos-perfil {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    width: 80%;
    min-width: 300px; /* Mantiene un ancho máximo */
    margin: 20px;
}
/* Pie de página */
footer {
    position: absolute;
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: white;
    margin-top: 17.6%;
}


